.mainpro {
  display: grid;
  border-style: outset;
  align-items: center;
  width: 20rem;
  margin-bottom: 2rem;
  height: 23rem;
  justify-content: center;
  justify-items: center;
}
.mainpro button {
  width: 100%;
  font-size: larger;
}
.mainpro p {
  margin-bottom: 7px;
  text-align: center;
  font-size: larger;
  color: black;
}
.maindiv {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  gap: 6rem;

}

.favCart {
  display: flex;
  gap: 2rem;
}
